*.elc
*.txt
*~
.mc-lists.el
.recentf
.smex-items
/elpa
/ac-comphist.dat
/auto-save-list
/backups
/cider-history
/games
/ido.last
/places
/projectile*
/request
/var
/xkcd
/transient
/custom-packages
private.el
